.search-input {
  width: 26rem;
}

.nav-2 {
  background-color: rgb(7, 141, 7);
  height: 10vh;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* removes default spacing */
}

.dropdown-menu:hover {
  background-color: rgb(228, 210, 176);
}

.cart {
  background-color: rgb(226, 238, 238);
  height: 23vh;
}

/* tree cards section is here! */
.dives {
  background-repeat: no-repeat;
  background-size: 22rem 35vh; /* width height */
  height: 35vh;
  width: 22rem;
}

.first-1d {
  background-image: url("svges/pexels-mikhail-nilov-7814991.jpg");
}

.second-2d {
  background-image: url("svges/pexels-mikhail-nilov-7676960.jpg");
}

.third-3d {
  background-image: url("svges/pexels-layyana-sheridean-1477746-2846337.jpg");
}
/* tree cards section is ended here! */
